<mat-card class="delivery-card" *ngIf="Acciones.Estado==0">
  <mat-card-header>
    <mat-card-title>  
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{res.Titulo}}</mat-panel-title>
            <mat-panel-description>{{res.Doc}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div style="text-align: justify;">
            {{res.Incidencia}}
        </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field style="width: 85%">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
        <button mat-icon-button (click)="onNuevaRec()" style="float:right" >
            <mat-icon style='margin-right:8px'>playlist_add</mat-icon>
          </button>
          <!-- displayedColumns: string[] = ['NumRec', 'Recomendacion', 'FechaImplementacion', "Responsable", 'Corresponsables', "Acciones"]; -->
          
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="Recomendacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Recomendación </th>
            <td mat-cell *matCellDef="let element" style="text-align: justify;"> 
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    
                    <mat-panel-description
                    style="
                      width: 250px;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                    ">
                      <b>[{{element.FechaImplementacion}}]</b> - {{element.NumRec}} {{element.Recomendacion}}...
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div>Responsable: <b>{{element.Responsable}}</b></div>
                  <div *ngIf="element.Corresponsables">Corresponsable: <b>{{element.Corresponsables}}</b></div>
                  {{element.NumRec}} {{element.Recomendacion}}
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </ng-container>

          <ng-container matColumnDef="FechaImplementacion">
            <th mat-header-cell *matHeaderCellDef class="no_mobile"> F.Implem. </th>
            <td mat-cell *matCellDef="let element" class="no_mobile"> {{element.FechaImplementacion}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Responsable">
            <th mat-header-cell *matHeaderCellDef class="no_mobile"> Responsable </th>
            <td mat-cell *matCellDef="let element" class="no_mobile"> {{element.Responsable}}</td>
          </ng-container>

          <ng-container matColumnDef="Corresponsables">
            <th mat-header-cell *matHeaderCellDef class="no_mobile"> Corresponsables </th>
            <td mat-cell *matCellDef="let element" class="no_mobile"> {{element.Corresponsables}} </td>
          </ng-container>
                    <!-- Weight Column -->

          <ng-container matColumnDef="Doc">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Doc </th>
            <td mat-cell *matCellDef="let element"> 
              <a href="http://localhost/archivos/{{element.RutaDoc}}" target="_blank">
                {{element.Doc}} 
              </a>
            </td>
          </ng-container>
         

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef class="celda"> Opciones </th>
            <td mat-cell *matCellDef="let element" class="celda"> 

              <button mat-icon-button>
                <mat-icon matTooltip="ver información la Observación" (click)="onInfoRec(element)" >info</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon matTooltip="Editar Observación" (click)="onEditRec(element)" >edit</mat-icon>
              </button>  
              <button mat-icon-button >
                <mat-icon matTooltip="Eliminar Observación" (click)="onDelRec(element)">highlight_off</mat-icon>
              </button>  
            </td>
          </ng-container>  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </mat-card-content>
</mat-card>





