mat-form-field
  width: 100%


.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
  margin: auto;
  display: block;
  width: 240px;
  line-height: 25px;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.map-container{
  border-radius: 5px;
  box-shadow: 0px 0px 8px 5px rgba(45,45,45,.2);
}

.TextoL
    border: 1px solid #cfcfcf;
    margin-bottom: 23px;
    height: 108px;
    border-bottom: 1px solid rgba(0,0,0,0.87);

textarea
  text-align justify
  
mat-card-content
  overflow-y: auto;
  max-height: 60vh;
  padding: 0px 15px 0px 15px;
  box-shadow 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  